@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header--logo {
    margin: 0;
    padding: 0 0 0 160px;
    display: flex;
    height: 35px;
    width: 186px;
    justify-content: left;
}

.navbar {
    display: flex;
    height: 35px;
    width: 630px;
    margin: 0;
}

.navbar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li{
    width: 100%;
    height: 11px;
    font-family: Questrial;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2.8px;
    color: #707070;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #7a7a7a;
    margin: 0;
    padding: 0;
}

.navbar a {
    height: 100%;
    padding: 13px 31px 12px 29px;
}

.navbar a:hover {
    background-color: #ff5672;
    color: #ffffff;
}

#header__navbar--texts {
    margin: 0 176px 0 0;
    width: 630px;
}

#header__navbar--search {
    height: 22px;
    margin-top: -4px;
    padding: 0;
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#main_navbar {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 0;
    margin: 0 0 75px 0;
}

/* Hero */
#main__hero {
    background-color: #fc758c;
    width: 100%;
    height: 900px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: center;
}

h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 12px;
    text-align: center;
    margin: 0 0 47px 0;
    padding: 0;
}

h2 {
    font-family: Questrial;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.29;
    letter-spacing: 3.4px;
    text-align: center;
    margin: 0 0 60px 0;
}

#main__button {
    width: 170px;
    height: 40px;
    color: #ff5773;
    border: none;
    background-color: #ffffff;
    font-family: Questrial;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    align-self: center;
    margin: 0;
    padding: 0;
}

#main__display--icons {
    width: 52px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-self: center;
    justify-content: space-around;
    margin: 70px 0 70px 0;
}

#main__portfolio {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main__portfolio--mosaic {
    width: 98%;
    height: 1460px;
    align-self: center;
    border: solid 2px purple;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
}

#main__portfolio--button {
    width: 170px;
    height: 35px;
    background-color:#ff5672;
    color: #ffffff;
    font-family: Questrial;
    font-size: 13px;
    letter-spacing: 2.6px;
    margin: 40px 0 60px 0;
    align-self: center;
    border: none;
}
/* Footer */
footer {
    width: 281px;
    height: 75px;
    font-family: Questrial;
    font-size: 13px;
    letter-spacing: 2.6px;
    color: #c3d0d8;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: space-between;
}

footer p{
    margin: 0;

}

#footer__text--brand {
    color: #ff5773;
}
